[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
